{{- $pc := .Page.Site.Config.Privacy.Twitter -}}
{{- if not $pc.Disable -}}
{{- if $pc.Simple -}}
{{ template "_internal/shortcodes/twitter_simple.html" . }}
{{- else -}}
{{- $tweetID := print (index .Params 0) -}}
{{- $tweetURL := printf "https://x.com/x/status/%s" $tweetID -}}
{{- $url := printf "https://publish.x.com/oembed?%s" (querify "url" $tweetURL "hide_thread" 1 "dnt" $pc.EnableDNT) -}}
{{- with try (resources.GetRemote $url) -}}
{{- with .Err -}}
{{ errorf "tweet-single: unable to get remote tweet %q: %s" $url . }}
{{- else with .Value -}}
{{- $json := . | transform.Unmarshal -}}
{{ $json.html | safeHTML }}
{{- else -}}
{{ warnf "tweet-single: no remote resource %q" $url }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
